.card:hover {
    box-shadow: 0 8px 16px 0 rgba(2, 2, 2, 2.2);
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    background-color: #e3eaa7;
    margin-bottom: 1rem;
}


.footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.9rem;
    font-size: 1.9rem;
    margin-top: 1rem;
}

.footer :hover {
    background-position: 0 -49px;
}


.title {
    color: #070707f6;
    font-family: arial, sans-serif;
    font-weight: bold;
    height: 5rem;
    margin-bottom: 2px;
    background-color: #d6cbd3;
}


.Date {
    display: flex;
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.auth-date {
    display: flex;
    justify-content: space-around;
}

.Author {
    flex: 2;
    display: flex;
    word-wrap: normal;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.Media {
    display: flex;
    font-size: 1.4rem;
    font-weight: bold;
}

.headline {
    font-size: 1rem;
}

.btn {
    background-color: #eb1969;
    color: #fff;
    transition: background-color 1s;
    font-weight: bold;
}

.btn:hover {
    background-color: #1698e4;
    color: rgb(17, 16, 16);
    font-weight: bold;
}

.btn:focus,
.btn:active {
    background-color: black;
    transition: none;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .auth-date {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
    }
}
